:root {
    --main-beige-color: #D2BD96;
    --main-beige-color-opacity:#d2bd96c2;
    --main-bg-card-color: #e4dbcd;
    --main-beige-divider-color: #d3c9b0;
    --main-bg-footer: #514c44;
    --main-font-color:rgb(53, 49, 49);
}

*{
    color:var(--main-font-color);
    font-family: 'Lato', sans-serif;
}

.carousel-item img{
    max-height: 70vh;
    object-fit: cover;
}

.main-item-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2.5% 10% ;
    border-radius: 50px;
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.562);
    background-color: var(--main-bg-card-color);
}

.navbar{
    box-shadow: 0px -1px 10px #00000094;
    background-color: var(--main-beige-color);
}


body{
    /* background: url("./assets/wallpaper-minimalist.avif"); */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgba(230, 230, 230, 0.568) !important;
}

.color-bold{
    color: rgb(116, 93, 93);
    font-weight: bold;
}

.logo{
    width: 5%;
    margin: -5px 20px -5px 0px;
    
}

.main-item{
    margin: 30px;
    font-size: 30px;
    text-align: center;
}

.secondary-color{
    background-color: var(--main-beige-divider-color);
}

.divider{
    min-height: 150px;
    margin: 0px;
    padding: 30px 40px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divider img{
    padding: 30px 50px 0px 30px;
}

.divider-item p{
    padding: 0px 20px;
}



.divider-item{
    width: 50%;
}

.main-page-button, .third-about a{
    font-size: 20px;
    width: 30vh;    
    padding: 15px;
    border:none;
    background-color: #8d877b;
    border-radius: 5px;
    color: var(--main-font-color);
    text-decoration: none;
    font-weight: bold;
}

.main-page-button:hover, .third-about a:hover{
    background-color: #aaa292;
    transition: all ease-in 0.1s;

}


.main-image{
    width: 70%;
    border-radius: 50px;
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.274);
}

.main-image:hover{
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.562);
    transition: all ease-in 150ms;
    cursor: zoom-in;
    transform: scale(1.005);
}

.nav-link:hover{
    transform: scale(1.1);
    transition: ease-in 100ms;
}

.nav-item{
    padding: 0px 15px;
}

.active{
    transform: scale(1.1);
}

.about-container{
    margin: 3% 6% ;
    border-radius: 50px;
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.247);
}

.about-item-container{
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-item-container img{
    width: 60%;
}

.about-item{
    padding: 10px;
}

.about-title{
    font-size: 26px;
    text-align: center;
}

.first-about, .second-about, .third-about{
    display: flex;
    align-items: center;
}

.second-about{
    justify-content: space-around;
    margin: 48px 0px 24px;
}

.second-about p {
    max-width: 40%;
    text-align: center;
}

.third-about{
    text-align: center;
    font-size: 20px;
    flex-direction: column;
    gap: 20px;
}


.second-about-text-one{
    font-size: 22px;
}

.second-about-text-two{
    font-size: 19px;
}

.vertical-line{
    border-left: 2px rgb(99, 98, 98) solid;
    width: 2px;
    height: 18vh;
}


.product-item img{
    width: 60%;
    border-radius: 15px;
    border: rgb(0, 0, 0) solid 2px;
}

.product-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.product-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.705) solid 1px;
    margin: 0px 40px 100px;
    padding: 20px 0px;
    width: 60%;
    height: 70vh;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.185);
    background-color: var(--main-bg-card-color);
}

.product-button{
    min-width: 20vh;
    margin: 0px 90px 10px 0px;
    padding: 10px 15px;
    border:none;
    background-color: #d1c7b3;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.781);
    color: var(--main-font-color);
    text-decoration: none;
    font-weight: bold;
    text-align: center;

}

.product-button:hover{
    transition: all ease-in 75ms;
    transform: scale(1.10);
    background-color: #f7e5c6c2;
    cursor: pointer;
}

.product-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



.product-item-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.product-item li {
    margin:10px;
}

.product-item h2 {
    font-weight: bold;
    text-align: center;
    max-width: 30vh;
}

.product-item button{
    position:relative;
}

.services-item-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 6vh;
}

.service-item{
    background-color: var(--main-bg-card-color);
    border-radius: 10px;
    border: 2px white solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.service-item h2, .service-item p{
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}

.service-info{
    font-size: 22px;
    min-height: 45vh;
    
}

.service-item h2{
    font-size: 40px;
    font-weight: 700;
    text-decoration: underline;
}

.service-button{
    font-size: 20px;
    width: 20vh;    
    padding: 15px;
    border:none;
    background-color: #8d877b;
    border-radius: 5px;
    color: var(--main-font-color);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.service-button:hover{
    background-color: #aca599;
    color: rgb(78, 78, 78);
    transition: 0.15s ease all;
    cursor:pointer;
}




.contact-icon{
    position:fixed;
    z-index: 2;
    bottom: 2%;
    right: 2%;
    width: 4%;
}

.contact-icon:hover{
    transform: scale(1.5) translateY(-10px);
    transition: all ease-in 100ms;
}

.contact-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

.contact-item{
    height: 8vh;
    width: 26vw;
    background-color: rgb(241, 241, 241);
    border: 2px solid white;
    box-shadow: 3px 3px 5px rgb(54, 54, 54);
    border-radius: 8px;
    display: flex;
    justify-content:flex-start;
    gap: 16px;
    align-items: center;
    padding: 16px;
}

.contact-item span{
    font-weight:700;
}

.contact-item img{
    width: 32px;
}

.map-container{
    display: flex;
    justify-content: center;
    margin: 30px;

}

.map {
    background-color: rgb(241, 241, 241);
    border: 2px solid white;
    box-shadow: 3px 3px 8px rgb(32, 32, 32);
    border-radius: 8px;
    padding: 5px 5px 0px 5px;
}

.map iframe{
    border-radius: 8px;
}

footer{
    background-color: var(--main-bg-footer);
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: end;
}

footer span{
    color:white;
}

footer img{
    max-height: 10vh;
}

.no-scroll-footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
}



/* MEDIA QUERY */


@media screen and (max-width: 650px) {

    /* NAVBAR */
    .dropdown-menu{
        background-color: #daccb4 !important;

    }
    .logo{
        width: 15vw;
        padding-left: 2vw;
    }

    /* FOOTER */
    footer{
        width: 100vw;
        font-size: 12px;
        justify-content: space-between;
        padding: 0px 2vw;
    }
    footer img{
        width: 35vw;
    }
    .invisible-footer{
        display: none;
    }

    .contact-icon{
        width: 10vw;
        left: 5%;
    }

    /* INDEX */
    .divider{
        flex-direction: column;
        padding-right: 0px;
    }
    .divider-item{
        width: 85vw;
    }

    .second-divider{
        font-size: 19px;

    }

    .second-divider p{
        padding: 0;
    }

    /* ABOUT */
    .about-container{
        margin: 0;
        border-radius: 0;
    }
    .first-about{
        margin-top: 2vh;
        flex-direction: column;
    }
    .about-title{
        font-size: 20px;
    }
    .first-about img{
        border-radius: 20px;
        width: 90vw;
    }
    .vertical-line, .horizontal-line{
        border-bottom: 2px rgb(99, 98, 98) solid;
        height: 2px;
    }
    .horizontal-line{
        width: 80vw;
    }
    .vertical-line{
        width: 40vw;
        margin-bottom: 2vh;
    }

    .second-about{
        flex-direction: column;
        margin-top: 3vh;
    }

    .second-about p{
        max-width: 90vw;
    }

    .third-about{
        margin-top: 2vh;
    }

    .product-item-container{
        margin-top: 0vh;
    }
    .product-item{
        margin: 1vh 3vw 3vh 3vw;
        max-height: 90vh;
        min-height: 60vh;
        height: auto;
    }
    .product-info{
        flex-direction: column;
        align-items: center;
    }
    .product-info img{
        width: 80vw;
        border-width: 1px;
    }

    .product-text{
        max-width: 90vw;
        
    }

    .product-text h2{
        text-align: center;
    }

    :root{
        --main-bg-card-color: #c0b5a2;

    }

    /* SERVICIOS */
    .services-item-container{
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        margin-top: 2vh;
    }

    .service-item{
        width: 90vw;
        padding-bottom: 1vh;
    }

    /* CONTACTO */
    .contact-container{
        flex-direction: column;
        padding-top: 3vh;
    }

    .contact-item{
        width: 90vw;
    }

    .map-container, .map iframe{
        width: 90vw;
    }
    
    .no-scroll-footer{
        position:relative;
    }

  }


  @media screen and (max-width: 1150px) {
    .product-item{
        width: 100vw;
    }

  }