:root {
    --main-beige-color: #D2BD96;
    --main-beige-color-opacity:#d2bd96c2;
    --main-bg-card-color: #b4b2b26c;
    --main-beige-divider-color: #d3c9b0;
    --main-bg-footer: #514c44;
    --main-font-color:rgb(53, 49, 49);
}

*{
    color:var(--main-font-color);
    font-family: 'Lato', sans-serif;
}

.carousel-item img{
    max-height: 80vh;
}

.main-item-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2.5% 10% ;
    border-radius: 50px;
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.562);
    background-color: var(--main-bg-card-color);
}

.navbar{
    box-shadow: 0px -1px 10px #00000094;
    background-color: var(--main-beige-color);
}


body{
    background: url("./assets/wallpaper-minimalist.avif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-bold{
    color: rgb(116, 93, 93);
    font-weight: bold;
}

.logo{
    width: 5%;
    margin: -5px 20px -5px 0px;
    
}

.main-item{
    margin: 30px;
    font-size: 30px;
    text-align: center;
}

.secondary-color{
    background-color: var(--main-beige-divider-color);
}

.divider{
    min-height: 150px;
    margin: 0px;
    padding: 30px 40px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divider img{
    padding: 30px 50px 0px 30px;
}

.divider-item p{
    padding: 0px 20px;
}



.divider-item{
    width: 50%;
}

.main-page-button{
    font-size: 20px;
    width: 30vh;    
    padding: 15px;
    border:none;
    background-color: #8d877b;
    border-radius: 5px;
    color: var(--main-font-color);
    text-decoration: none;
    font-weight: bold;
}

.main-page-button:hover{
    background-color: #aaa292;
    transition: all ease-in 0.1s;

}


.main-image{
    width: 70%;
    border-radius: 50px;
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.274);
}

.main-image:hover{
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.562);
    transition: all ease-in 150ms;
    cursor: zoom-in;
    transform: scale(1.005);
}

.nav-link:hover{
    transform: scale(1.1);
    transition: ease-in 100ms;
}

.nav-item{
    padding: 0px 15px;
}

.active{
    transform: scale(1.1);
}

.about-container{
    margin: 3% 6% ;
    border-radius: 50px;
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.774);
}

.about-item-container{
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-item-container img{
    width: 60%;
}

.about-item{
    padding: 10px;
}


.product-item img{
    width: 60%;
    border-radius: 15px;
    border: rgb(0, 0, 0) solid 2px;
}

.product-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.product-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    margin: 0px 40px 100px;
    padding: 20px 0px;
    width: 60%;
    height: 70vh;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.493);
    background-color: rgb(221, 221, 221);

}

.product-button{
    min-width: 20vh;
    margin: 0px 72px 10px 0px;
    padding: 10px 15px;
    border:none;
    background-color: #d1c7b3;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.781);
    color: var(--main-font-color);
    text-decoration: none;
    font-weight: bold;

}

.product-button:hover{
    transition: all ease-in 75ms;
    transform: scale(1.10);
    background-color: #f7e5c6c2;
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.product-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



.product-item-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.product-item li {
    margin:10px;
}

.product-item h2 {
    font-weight: bold;
}

.product-item button{
    position:relative;
}

.contact-icon{
    position:fixed;
    z-index: 2;
    bottom: 2%;
    right: 2%;
    width: 4%;
}

.contact-icon:hover{
    transform: scale(1.5) translateY(-10px);
    transition: all ease-in 100ms;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 48px;
}

.contact-item{
    height: 8vh;
    width: 26vw;
    background-color: rgb(221, 221, 221);
    border: 2px solid white;
    box-shadow: 3px 3px 5px rgb(54, 54, 54);
    border-radius: 8px;
    display: flex;
    justify-content:flex-start;
    gap: 16px;
    align-items: center;
    padding: 16px;
}

.contact-item span{
    font-weight:700;
}

.contact-item img{
    width: 32px;
}

footer{
    background-color: var(--main-bg-footer);
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: end;
}

footer span{
    color:white;
}

footer img{
    max-height: 10vh;
}

.no-scroll-footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
}